body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#controls div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#controls div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.25em;
}

label{
    text-align: right;
}
input[type=number]{
    width: 3em;
}
input[type=range]{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#symmetric_coef{
    margin-left: 1em;
}
#points_edits{
    margin-top: 1em;
}
#fourier-canvas{
    border: 1px solid black;
}